<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="card">
  <h5 class="card-header">アカウント登録</h5>
  <div class="card-body">
    <h5 class="card-text"><%= form.label :name %></h5>
    <div class="hoge"><%= form.text_field :name %></div>
    <h5 class="card-text"><%= form.label :email %></h5>
    <%= form.text_field :email %>
    <h5 class="card-text"><%= form.label :password%></h5>
    <%= form.password_field :password %>
    <h5 class="card-text">  <%= form.label :password_confirmation %></h5>
    <%= form.password_field :password_confirmation %>
    <div class="submit_btn_container">
      <input type="submit" name="commit" value="アカウント登録" data-disable-with="Create User"
      class="btn btn-success" />
    </div>
  </div>
</div>
<% end %>
