<%= form_with(model: @picture, local: true, url: new_or_edit) do |form| %>
  <div class="card">
    <% if @picture.id %>
      <h5 class="card-header">投稿を編集する</h5>
    <% else %>
      <h5 class="card-header">新規投稿をする</h5>
    <% end %>
    <div class="card-body">
      <h5 class="card-text"><%= form.label :image %></h5>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
      <h5 class="card-text"><%= form.label :sentence %></h5>
      <%= form.text_area :sentence, size: "40x6" %>
      <% if @picture.id %>
        <input type="submit" name="commit" value="保存する" data-disable-with="Create User"
        class="btn btn-success" />
      <% else %>
      <div class="submit_btn_container">
        <input type="submit" name="commit" value="投稿する" data-disable-with="Create User"
        class="btn btn-success" />
        </div>
      <% end %>
    </div>
  </div>
<% end %>
