<%= form_with(model: @picture, local: true) do |form| %>
  <div class="card">
    <h5 class="card-header alert alert-primary" role="alert">この内容で投稿してもいいですか？</h5>
    <div class="card-body">
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
      <%= form.hidden_field :image_cache %>
      <br>
      <%= form.hidden_field :sentence %>
      <h5 class="card-text"><%= form.label :sentence %></h5>
      <%= form.text_area :sentence, size: "40x6" %>
      <div class="submit_btn_container">
      <input type="submit" name="commit" value="投稿" data-disable-with="Create User"
      class="btn btn-success hoge" />
      <input type="submit" name="back" value="戻る" data-disable-with="Create User"
      class="btn btn-success"/>
      </div>
    </div>
  </div>
<% end %>
