<% @pictures.each do |p| %>
  <div class="picture_container">
    <h5>投稿</h5>
    <div class="user_field">
      <%= image_tag "default_user.png", class: "user_image", size: "40x40" %>
      <span><%= p.user.name %></span>
    </div>
    <p><%= p.sentence %></p>
    <%= image_tag p.image.url, class: "posted_picture" %>
    <%= link_to '詳細ページへ', picture_path(p.id) %>
  </div>
<% end %>
