<!DOCTYPE html>
<html>
  <head>
    <title>Bacefook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <%= link_to "Facebook", pictures_path, class: "navbar-brand facebook_logo" %>
      <% if logged_in? %>
        <div>
          <%= link_to 'ログアウト', session_path(@current_user.id),
          method: :delete, class: "btn btn-success mr-sm-2" %>
          <%= link_to '新規投稿', new_picture_path, class: "btn btn-success my-2 my-sm-0" %>
          </div>
      <% else %>
        <div>
          <%= link_to 'ログイン', new_session_path, class: "btn btn-success mr-sm-2" %>
          <%= link_to '新規登録', new_user_path, class: "btn btn-success my-2 my-sm-0" %>
        </div>
      <% end %>
    </nav>
    <p style="color: red;"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
